extends layout

block vars
    - let title = '关于我们'

block content
    .pageNav.pageNav-1
        ul
            li
                a.on(href='javasrcipt:;') 公司简介
                em
            li
                a(href='javasrcipt:;') 公司资质
                em
            li
                a(href='javasrcipt:;') 公司文化
                em
            li
                a(href='javasrcipt:;') 公司历史
                em
            li
                a(href='javasrcipt:;') 诚聘英才
                em
            li
                a(href='javasrcipt:;') 联系我们

    .pageBanner2(style='background:#000')
        .wal
            .title
                div 关于我们
            .content
                | 东方龙马始终以传承，开放，包容，突破为公司理念，以市场为导向，为各行业客户提供全方
                br
                | 位的解决方案及专业技术服务, 致力为中国的信息化建设作出最大的贡献。
            .more
                a(href='') 了解详情
    .zbanner
    .phoneBg
        .wal
            .case_01
                .title
                    div 关于我们
                a(href='about')
                .content 东方龙马提供的全系列性能管理方案包括：数据库管理，交易性能管理，核心业务保障管理，网络性能管理和运营大数据分析等。   
            .about_01.listHover.slide-B
                ul
                    li
                        .content
                            p
                                | 北京东方龙马软件发展有限公司（简称"东方龙马"）于1995年在北京成立，是国内著名的IT企业集团。
                                br
                                | 在过去的20多年中，东方龙马提供数据智能的专业服务获得无数企业的认可和称赞。
                                br
                                | 作为全系列性能管理方案的引领者，东方龙马始终关注企业的多维度需求，秉承"专业专注，不断创新"的服务理念，为用户提供最适合的专业化服务。
                                br
                        .imgDiv
                            div
                                img(src='/public/images/about/a804868d301f618cbd0c355b70efcbcb.jpg')
                    li
                        .content
                            p
                                | 目前东方龙马下辖有北京安码龙科技有限公司、上海东方龙马软件技术有限公司、成都东方龙马信息产业有限公司、北京东方龙马软件发展有限公司广州分公司及覆盖全国的办事处。
                                br
                                | 2016年，东方龙马在上海成立安码龙上海研发中心，专门研发最适合客户IT环境的应用性能管理产品。
                        .imgDiv
                            div
                                img(src='/public/images/about/846033f7d78952402c08647ee5b481be.jpg')
                    li
                        .content
                            p
                                | 近年来，我们专注于提供全系列企业级性能管理方案和相关的IT服务，在帮助用户提高业务效率和整体生产力的同时，降低运营和运维成本。
                                br
                                | 东方龙马提供的全系列性能管理方案包括：数据库管理，交易性能管理，核心业务保障管理，网络性能管理和运营大数据分析等。
                        .imgDiv
                            div
                                img(src='/public/images/about/769800839a6b2c36c10734c1ccab3892.jpg')
                .h10

    .about_02
        .wal.slide-B
            .title
                i
                div 东方传奇的制造者
                | Orient LegendMaker
            .content
                p
                    | 企业的标志设计简洁明了，充分体现东方龙马作为信息技术公司精简干练，朝气蓬勃。公司Logo取意"东方传奇的制造者"。以中英文为基本元素，英
                    | 文"OLM"是"Orient LegendMaker"的首字母缩写，让读者简单易懂企业标志的取意；中文"东方龙马"的"东方"是"Orient
                    | "的中文翻译，"龙马"是英文缩写中"LM"的谐音，龙是中国神话传说中的神异动物，代表中华民族文化传承；龙马代表龙马精神，象征着高效腾达。东方龙马
                    | 取义东方的引领者、创新、前瞻、和谐、稳健，充分体现了东方龙马的企业精神：专业，专注，传承，开放。
            .imgDiv
                img(src='/public/images/about/logo1.png')
    .phoneBg
        .wal

            .case_01.slide-B
                .title
                    div 分支机构
                    | Branches
                .content
                    | 目前东方龙马下辖有北京安码龙科技有限公司、上海东方龙马软件技
                    br
                    | 术有限公司、成都东方龙马信息产业有限公司、北京东方龙马软件发展有限公司广州分公司及覆盖全国的办事处。
            .about_03.listHover.slide-B
                ul
                    li
                        .ico
                            img(src='/public/images/about/1cacb49794ad5af00b89d95f019529c7.png')
                        .imgDiv
                            img(src='/public/images/about/ca1137f7241ffa037b01c6833f0c8fc4.jpg')
                        .imgDiv2
                            img(src='/public/images/about/ca1137f7241ffa037b01c6833f0c8fc4.jpg')
                        .box
                            .name 上海公司
                            dl
                                dd.dd_01 0771-3216270
                                dd.dd_02 0771-3216270
                                dd.dd_03 530000
                                dd.dd_04 广西南宁市西乡塘区科园大道科园东5路南宁软件园一楼火星人科技
                    li
                        .ico
                            img(src='/public/images/about/a405ea4399abdee388f9474c091b2a81.png')
                        .imgDiv
                            img(src='/public/images/about/6c1e45a3394120a91966309999abbddb.jpg')
                        .imgDiv2
                            img(src='/public/images/about/6c1e45a3394120a91966309999abbddb.jpg')
                        .box
                            .name 广州公司
                            dl
                                dd.dd_01 0771-3216270
                                dd.dd_02 0771-3216270
                                dd.dd_03 530000
                                dd.dd_04 广西南宁市西乡塘区科园大道科园东5路南宁软件园一楼火星人科技
                    li
                        .ico
                            img(src='/public/images/about/8c835490dd468ebbe885ce87e99167ac.png')
                        .imgDiv
                            img(src='/public/images/about/ce5ccdd8022a8e62c9388d974aad69eb.jpg')
                        .imgDiv2
                            img(src='/public/images/about/ce5ccdd8022a8e62c9388d974aad69eb.jpg')
                        .box
                            .name 成都公司
                            dl
                                dd.dd_01 0771-3216270
                                dd.dd_02 0771-3216270
                                dd.dd_03 530000
                                dd.dd_04 广西南宁市西乡塘区科园大道科园东5路南宁软件园一楼火星人科技
                    li
                        .ico
                            img(src='/public/images/about/1cacb49794ad5af00b89d95f019529c7.png')
                        .imgDiv
                            img(src='/public/images/about/ca1137f7241ffa037b01c6833f0c8fc4.jpg')
                        .imgDiv2
                            img(src='/public/images/about/ca1137f7241ffa037b01c6833f0c8fc4.jpg')
                        .box
                            .name 安码龙
                            dl
                                dd.dd_01 0771-3216270
                                dd.dd_02 0771-3216270
                                dd.dd_03 530000
                                dd.dd_04 广西南宁市西乡塘区科园大道科园东5路南宁软件园一楼火星人科技
            .h50
    a.topA(href='javascript:;')
