.section.indexPart2(style='background:url(/public/images/home/indexPart2/img1920_2.jpg) center;')
            .box
                .wal
                    .indexTitle
                        i
                        i.i-1
                        .box-5
                            div 解决方案
                            em Solutions
                            p
                                | 为全国各行业用户提供全方位的"解决方案"及"专业技术服务"，并全力拓展大数据及云计算相关的业务，
                                br
                                | 为中国的信息化建设作出最大的贡献。
                    .msg
                        span 专业专注
                        em 不断创新
                    .list.listHover
                        ul
                            li.li_01(style='cursor:pointer')
                                a(href='life_cycle')
                                    .listDiv
                                        .imgDiv
                                            img(src='/public/images/home/indexPart2/1a5de83b81b0de20bf61376a62a9791e.png')
                                            img.img2(src='/public/images/home/indexPart2/16d8e2ae83f8a3fd3d1b92c8ddad5971.png')
                                        .name
                                            div 数据生命周期服务解决方案
                                            | Data full Life
                                            br
                                            | Cycle service solutions
                                        a.btn(href='life_cycle')
                            li.li_02(style='cursor:pointer')
                                a(href='perform')
                                    .listDiv
                                        .imgDiv
                                            img(src='/public/images/home/indexPart2/50563657fe257fec2e14627e1409d2fc.png')
                                            img.img2(src='/public/images/home/indexPart2/f6c8953e0a2fcd69f01d5523be0237ed.png')
                                        .name
                                            div 全系列性能管理解决方案
                                            | Full Series Performance
                                            br
                                            | Management Solutions
                                        a.btn(href='perform')
                            li.li_03(style='cursor:pointer')
                                a(href='big_data')
                                    .listDiv
                                        .imgDiv
                                            img(src='/public/images/home/indexPart2/9f2294cc8d73d7c0a33e1d6b535d900c.png')
                                            img.img2(src='/public/images/home/indexPart2/069717c1e4a7b99c75d43a929b449c76.png')
                                        .name
                                            div 大数据分析解决方案
                                            | Big data
                                            br
                                            | Analysis solution
                                        a.btn(href='big_data')
                    .h10