.section.indexPart5(style='background:url(http://ocntrf3t3.bkt.clouddn.com/style/images/img1920_5.png) center;')
    .bbox
    .box
        .list2
            ul
                li.li_01
                    h2(style='background-image:url(/public/images/home/indexPart5/719bbbe751268041781e2c9ff812b6fc.png);') 北京总部
                    dl
                        dd.dd_01 0771-3216270
                        dd.dd_02 0771-3216270
                        dd.dd_03 530000
                        dd.dd_04 广西南宁市西乡塘区科园大道科园东5路南宁软件园一楼火星人科技
                li.li_02
                    h2(style='background-image:url(/public/images/home/indexPart5/1cacb49794ad5af00b89d95f019529c7.png);') 上海公司
                    dl
                        dd.dd_01 0771-3216270
                        dd.dd_02 0771-3216270
                        dd.dd_03 530000
                        dd.dd_04 广西南宁市西乡塘区科园大道科园东5路南宁软件园一楼火星人科技
                li.li_03
                    h2(style='background-image:url(/public/images/home/indexPart5/a405ea4399abdee388f9474c091b2a81.png);') 广州公司
                    dl
                        dd.dd_01 0771-3216270
                        dd.dd_02 0771-3216270
                        dd.dd_03 530000
                        dd.dd_04 广西南宁市西乡塘区科园大道科园东5路南宁软件园一楼火星人科技
                li.li_04
                    h2(style='background-image:url(/public/images/home/indexPart5/8c835490dd468ebbe885ce87e99167ac.png);') 成都公司
                    dl
                        dd.dd_01 0771-3216270
                        dd.dd_02 0771-3216270
                        dd.dd_03 530000
                        dd.dd_04 广西南宁市西乡塘区科园大道科园东5路南宁软件园一楼火星人科技
                li.li_05
                    h2(style='background-image:url(/public/images/home/indexPart5/1cacb49794ad5af00b89d95f019529c7.png);') 北京安码龙科技有限公司
                    dl
                        dd.dd_01 0771-3216270
                        dd.dd_02 0771-3216270
                        dd.dd_03 530000
                        dd.dd_04 广西南宁市西乡塘区科园大道科园东5路南宁软件园一楼火星人科技
        .fl
            .name
                div 火星人信息科技有限公司
                |  Mars-IT 
            .ewm
                ul
                    li
                        .code
                            img(src='/public/images/home/indexPart5/qrcode.png')
                        | 官方微博
                    li
                        .code
                            img(src='/public/images/home/indexPart5/qrcode.png')
                        | 官方微信
            .list
                ul
                    li.li_01
                        .name2
                            a(href='solution') 解决方案
                        dl
                            dd
                                a(href='l,8,0.html') 数据生命周期服务解决方案
                            dd
                                a(href='l,9,0.html') 全系列性能管理解决方案
                            dd
                                a(href='l,10,0.html') 大数据分析解决方案
                        .name2
                            a(href='cases') 成功案例
                    li.li_02
                        .name2
                            a(href='aml') 安码龙
                        dl
                            dd
                                a(href='aml#/0') 简介
                            dd
                                a(href='aml#/1') 产品
                            dd
                                a(href='aml#/2') 优势
                            dd
                                a(href='aml#/3') 联系
                    li.li_03
                        .name2
                            a(href='news') 新闻中心
                        dl
                            dd
                                a(href='l,6,0.html') 公司动态
                            dd
                                a(href='l,7,0.html') 行业资讯
                    li.li_04
                        .name2
                            a(href='about') 关于我们
                        dl
                            dd
                                a(href='javasrcipt:;') 公司简介
                            dd
                                a(href='javasrcipt:;') 公司资质
                            dd
                                a(href='javasrcipt:;') 公司文化
                            dd
                                a(href='javasrcipt:;') 公司历史
                            dd
                                a(href='javasrcipt:;') 诚聘英才
                            dd
                                a(href='javasrcipt:;') 联系我们
            .h10
        .fr
            ul
                li.li_01
                    i
                    em
                    a(href='javascript:;') 北京总部
                    .yuan.yuan-1
                    .yuan.yuan-2
                    .yuan.yuan-3
                    .box1
                        h2(style='background-image:url(/public/images/home/indexPart5/719bbbe751268041781e2c9ff812b6fc.png);') 北京总部
                        dl
                            dd.dd_01 0771-3216270
                            dd.dd_02 0771-3216270
                            dd.dd_03 530000
                            dd.dd_04 广西南宁市西乡塘区科园大道科园东5路南宁软件园一楼火星人科技
                li.li_02
                    i
                    em
                    a(href='javascript:;') 上海公司
                    a.a1(href='javascript:;') 安码龙
                    .yuan.yuan-3
                    .yuan.yuan-4
                    .yuan.yuan-1
                    .yuan.yuan-2
                    .box1
                        h2(style='background-image:url(/public/images/home/indexPart5/1cacb49794ad5af00b89d95f019529c7.png);') 上海公司
                        dl
                            dd.dd_01 0771-3216270
                            dd.dd_02 0771-3216270
                            dd.dd_03 530000
                            dd.dd_04 广西南宁市西乡塘区科园大道科园东5路南宁软件园一楼火星人科技
                    .box1.box2
                        h2(style='background-image:url(/public/images/home/indexPart5/1cacb49794ad5af00b89d95f019529c7.png);') 北京安码龙科技有限公司
                        dl
                            dd.dd_01 0771-3216270
                            dd.dd_02 0771-3216270
                            dd.dd_03 530000
                            dd.dd_04 广西南宁市西乡塘区科园大道科园东5路南宁软件园一楼火星人科技
                li.li_03
                    i
                    em
                    a(href='javascript:;') 广州公司
                    .yuan.yuan-1
                    .yuan.yuan-2
                    .yuan.yuan-3
                    .box1
                        h2(style='background-image:url(/public/images/home/indexPart5/a405ea4399abdee388f9474c091b2a81.png);') 广州公司
                        dl
                            dd.dd_01 0771-3216270
                            dd.dd_02 0771-3216270
                            dd.dd_03 530000
                            dd.dd_04 广西南宁市西乡塘区科园大道科园东5路南宁软件园一楼火星人科技
                li.li_04
                    i
                    em
                    a(href='javascript:;') 成都公司
                    .yuan.yuan-1
                    .yuan.yuan-2
                    .yuan.yuan-3
                    .box1
                        h2(style='background-image:url(/public/images/home/indexPart5/8c835490dd468ebbe885ce87e99167ac.png);') 成都公司
                        dl
                            dd.dd_01 0771-3216270
                            dd.dd_02 0771-3216270
                            dd.dd_03 530000
                            dd.dd_04 广西南宁市西乡塘区科园大道科园东5路南宁软件园一楼火星人科技
        .h10