.section
    .indexPart1
        .slick
    .indexPart1List.listHover
        ul
            li.li_01
                .imgDiv
                    a(href='perform')
                        img(src='/public/images/home/indexPart1/img390_1.jpg')
                .box
                    .name
                        a(href='perform') 全系列性能管理
                    .msg
                        a(href='javascript:;') Full Series Performance Management
                    .btn
                        a(href='javascript:;') APM
                        | |
                        a(href='javascript:;') BPM
                        | |
                        a(href='javascript:;') NPM
                        | |
                        a(href='javascript:;') VM
            li.li_02
                .imgDiv
                    a(href='life_cycle')
                        img(src='/public/images/home/indexPart1/img390_2.jpg')
                .img
                    a(href='life_cycle')
                        img(src='/public/images/home/indexPart1/img150_1.png')
            li.li_03
                .imgDiv
                    a(href='big_data')
                        img(src='/public/images/home/indexPart1/img390_3.jpg')
                .box
                    .name
                        a(href='big_data') 大数据
                    .msg
                        a(href='javascript:;') Big Data
                    .btn
                        a(href='javascript:;') 大数据采集
                        | |
                        a(href='javascript:;') 大数据分析
                        | |
                        a(href='javascript:;') 大数据应用
            li.li_04
                .imgDiv
                    a(href='perform')
                        img(src='/public/images/home/indexPart1/img390_4.jpg')
                .img
                    a(href='perform')
                        img(src='/public/images/home/indexPart1/img150_2.png')
            li.li_05
                .imgDiv
                    a(href='life_cycle')
                        img(src='/public/images/home/indexPart1/img390_5.jpg')
                .box
                    .name
                        a(href='life_cycle') 数据库/中间件
                    .msg
                        a(href='javascript:;') DataBase/Middleware
                    .btn
                        a(href='javascript:;') 技术交流
                        | |
                        a(href='javascript:;') 产品部署
                        | |
                        a(href='javascript:;') 驻场运维
                        | |
                        a(href='javascript:;') 日常巡检
                        br
                        a(href='javascript:;') 数据分析
                        | |
                        a(href='javascript:;') 性能优化
                        | |
                        a(href='javascript:;') 迁移和容灾
            li.li_06
                .imgDiv
                    a(href='big_data')
                        img(src='/public/images/home/indexPart1/img390_6.jpg')
                .img
                    a(href='big_data')
                        img(src='/public/images/home/indexPart1/img150_3.png')
        span.clear