.section.indexPart3(style='background:url(/public/images/home/indexPart3/img1920_3.jpg) center;')
        .box
            .wal
                .indexTitle
                    i
                    i.i-1
                    .box-5
                        div 我们的优势
                        em advantage
                        p
                            | 东方龙马整体实力综合体现在研发、代理、服务和咨询几个方面，业界领先的工程师力量，
                            br
                            | 我们在全国有4个分公司，分别覆盖了华北、华东、华南、华西
                .list.listHover
                    ul
                        li.li_01
                            .imgDiv
                                img(src='/public/images/home/indexPart3/d55126dec00e12c1fd3f9e0fc06f0f86.png')
                            .name 工程师团队
                            p 拥有一支工程师、高级工程师到技术顾问的完善技术团队，技术团队达到70人以上
                        li.li_02
                            .imgDiv
                                img(src='/public/images/home/indexPart3/b37914d5cb50ed66c20b72eac33fbcd1.png')
                            .name 自主研发
                            p 拥有一支专业的研发队伍，针对企业及互联网+研发新一代的应用性能管理软件，并申请了国家的认证
                        li.li_03
                            .imgDiv
                                img(src='/public/images/home/indexPart3/1574f74b64f8dfd381352da40c635f02.png')
                            .name 服务体系
                            p 为用户提供规范而高效的整体服务体系：运维规范、运维基线、服务标准、技术文档
                        li.li_04
                            .imgDiv
                                img(src='/public/images/home/indexPart3/d97ada8c10875d614db482f45496219f.png')
                            .name 客户基础
                            p 全国超过400个大客户的数据库及应用中间件管理经验,管理超过1500个系统,涉及政府、金融、电信、税务、制造等各个行业